// 
// _card.scss
// 

.card {
  margin-bottom: $grid-gutter-width;
  box-shadow: $box-shadow;
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 21px;
  margin: 0 0 7px 0;
  font-weight: $font-weight-semibold;
  margin-bottom: 20px;
}

.card-title-desc {
  color: $card-title-desc;
  margin-bottom: 24px;  
}

